services:
  - type: web
    name: searchuniversity
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn searchuniversity.wsgi:application"
    envVars:
      - key: USE_MYSQL
        value: True
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        sync: false

